.btn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.85em;
  font-weight: bold;
  min-height: 40px;
  padding: 7px 10px;
  transition: background-color 0.3s ease;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color: $primary;
  &:disabled {
    background-color: lighten($primary, $amount: 15);
    cursor: none;
  }
  &:hover:enabled {
    background-color: darken($primary, $amount: 5);
  }
  &:active:enabled {
    background-color: darken($primary, $amount: 10);
  }
}

.btn-danger {
  background-color: $danger;
  &:disabled {
    background-color: lighten($danger, $amount: 15);
    cursor: none;
  }
  &:hover:enabled {
    background-color: darken($danger, $amount: 5);
  }
  &:active:enabled {
    background-color: darken($danger, $amount: 10);
  }
}

.border-radius-none{
  border-radius: 0;
}

.google-btn {
  align-items: center;
  background-color: $google-blue;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  margin-top: 5px;
  height: 50px;
  transition: background-color 0.3s ease;
  width: 100%;

  .google-icon-wrapper {
    align-items: center;
    border-radius: 5px 0 0 5px;
    background-color: $white;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 40px;
    .google-icon {
      width: 1.5em;
      height: 1.5em;
    }
  }
  .btn-text {
    color: $white;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
  }
  &:hover {
    background-color: darken($google-blue, $amount: 5);
  }
  &:active {
    background: darken($google-blue, $amount: 25);
  }
}
