.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background-color: $secondary;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 10px;
  max-width: 500px;
}

.journal__sidebar-navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  h3 {
    font-weight: lighter;
  }
  span {
    margin-left: 5px;
  }
}

.journal__new-entry {
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  padding: 10px 0;
  transition: background-color 0.3s ease;
  width: 100%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.journal__entries {
  flex: 1 1 auto;
  margin-top: 10px;
  overflow-y: scroll;
}

.journal__entry {
  background-color: $white;
  border-radius: 5px;
  color: $dark-gray;
  cursor: pointer;
  display: flex;
  max-width: 350px;
  min-height: 60px;
  margin-bottom: 10px;
  overflow-y: hidden;
  transition: background-color 0.3s ease;
  &:active{
    background-color: transparentize($color: #ffffff, $amount: 0.5);
  }
}

.journal__entry-picture {
  min-width: 70px;
  height: auto;
}

.journal__entry-body {
  display: flex;
  min-width: 0;
  flex-direction: column;
  padding: 10px;
  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.journal__entry-title {
  font-size: 0.8em;
  font-weight: bold;
}

.journal__entry-content {
  font-size: 0.6em;
}

.journal__entry-date-box {
  align-items: center;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  min-width: 50px;
  span {
    font-size: 0.7em;
  }
}
