// Colors
$dark-green: #194350;
$dark-gray: #2e2d35;
$light-gray: #e4f2f6;
$danger: #be0000;
$white: #ffffff;
$google-blue: #4285f4;
$pink: #b33f62;
$blue-gray: #2a2546;

$primary: $dark-green;
$secondary: $dark-gray;

